/* CSS ESPECÍFICO DA INDEX */


html{
  background-image: url("../images/background.jpg") !important;
  /*background-color: #000000 !important;*/ 
}

#login {
    position: relative;
    background: url("../images/back-cont.png") !important;
    border-color: #079897 !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    margin: auto;
    top: 110px;
    max-width: 400px;
    padding: 2%;
    z-index: 1;
  }

  .blue-icon{
  color: #079897;
 }

  #login img{
  	width: 60%;
  }

  #credits {
  	position: relative;
  	top: 110px;
  	z-index: 1;
  }
  
  #logout{
	float: right ;
  }